<%if(typeof currentUser !== 'undefined'){%>
<div class="formConrainer">
  <h1>To become a member type the pass code</h1>
  <form action="" method="post">
    <input type="text" name="code" placeholder="00001111" />
    <% if(typeof message !== 'undefined') {%>
    <div class="message"><%= message%></div>
    <%}%>
    <button>Submit</button>
  </form>
</div>
<%} else {%>
<h1>This page is unavailable</h1>
<%}%>
