<div class="formContainer">
  <form action="" method="post">
    <div class="inputContainer">
      <label for="email">Email</label>
      <input type="email" name="email" />
    </div>
    <div class="inputContainer">
      <label for="password">Password</label>
      <input type="password" name="password" />
    </div>
    <div class="inputErrors"><%= errors ? errors : ''%></div>
    <button>Log in</button>
  </form>
</div>
